.pokemon {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  padding: 1rem;
  border-radius: 1rem;
}

.pokemon .number {
  color: #000;
  opacity: .3;
  text-align: right;
  font-size: .625rem;
}

.pokemon .name {
  text-transform: capitalize;
  color: #fff;
  margin-bottom: .25rem;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}




@media screen and (min-width: 380px) {
  .pokemons {
      grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}